<div class="visionboard-header">
  <h1>Vision Board</h1>
</div>
<div class="container">
  <div class="vision-container">
    <div class="image-gallery">

      <% if @goals.first.present? %>
        <a href="<%= goal_path(@goals.first.id) %>" class="img-1 effect-off">
          <%= image_tag @goals.first.image %>          
        </a>
      <% else %>
        <a href="/goals/new" class="img-1 effect-on">
          <i class="fas fa-plus fa-2x"></i>
        </a>
      <% end %>

      <% if @goals.second.present? %>
        <a href="<%= goal_path(@goals.second.id) %>" class="img-2 effect-off">
          <%= image_tag @goals.second.image %>          
        </a>
      <% else %>
        <a href="/goals/new" class="img-2 effect-on">
          <i class="fas fa-plus fa-2x"></i>
        </a>
      <% end %>

      <% if @goals.third.present? %>
        <a href="<%= goal_path(@goals.third.id) %>" class="img-3 effect-off">
          <%= image_tag @goals.third.image %>          
        </a>
      <% else %>
        <a href="/goals/new" class="img-3 effect-on">
          <i class="fas fa-plus fa-2x"></i>
        </a>
      <% end %>

      <% if @goals.fourth.present? %>
        <a href="<%= goal_path(@goals.fourth.id) %>" class="img-4 effect-off">
          <%= image_tag @goals.fourth.image %>          
        </a>
      <% else %>
        <a href="/goals/new" class="img-4 effect-on">
          <i class="fas fa-plus fa-2x"></i>
        </a>
      <% end %>

      <% if @goals.fifth.present? %>
        <a href="<%= goal_path(@goals.fifth.id) %>" class="img-5 effect-off">
          <%= image_tag @goals.fifth.image %>          
        </a>
      <% else %>
        <a href="/goals/new" class="img-5 effect-on">
          <i class="fas fa-plus fa-2x"></i>
        </a>
      <% end %>

      <% if @goals[6].present? %>
        <a href="<%= goal_path(@goals[6].id) %>" class="img-6 effect-off">
          <%= image_tag @goals[6].image %>          
        </a>
      <% else %>
        <a href="/goals/new" class="img-6 effect-on">
          <i class="fas fa-plus fa-2x"></i>
        </a>
      <% end %>

      <% if @goals[7].present? %>
        <a href="<%= goal_path(@goals[7].id) %>" class="img-7 effect-off">
          <%= image_tag @goals[7].image %>          
        </a>
      <% else %>
        <a href="/goals/new" class="img-7 effect-on">
          <i class="fas fa-plus fa-2x"></i>
        </a>
      <% end %>

      <% if @goals[8].present? %>
        <a href="<%= goal_path(@goals[8].id) %>" class="img-8 effect-off">
          <%= image_tag @goals[8].image %>          
        </a>
      <% else %>
        <a href="/goals/new" class="img-8 effect-on">
          <i class="fas fa-plus fa-2x"></i>
        </a>
      <% end %>
    </div>
  </div>
</div>