<div class="show-container">
  <div class="show-settings">
    <div class="edit-goal">
      <%= link_to edit_goal_path do %>
        <i class="far fa-edit"></i>
      <% end %>
    </div>
    <div class="delete-goal">
      <%= link_to goal_path, method: :delete do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
  </div>
  <div class="title-container">
    <h1 class="show-title"><%= @goal.title %></h1>
  </div>

  <div class="steps-container">
    <% @goal.steps.each do |step| %>
      <div class="step-marker"></div>
      <p class="steps">
        <%= step.title %>
      </p>
      <div class="step-deletebox">
        <%= link_to [step.goal, step], method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="steps-formbox">
    <div class="steps-form">
      <%= form_with model: [ @goal, @goal.steps.build ] do |form| %>
        <p>
          <%= form.text_field :title, placeholder: "Step to achieve your goal" %>
        </p>
        <p class="create-step-submit">
          <%= form.submit %>
        </p>
      <% end %>
    </div>
  </div>

</div>
