<div class="show-container">
  <div class="show-settings">
    <div class="edit-goal">
      <%= link_to "Edit Goal", edit_goal_path %>
    </div>
    <div class="delete-goal">
      <%= link_to "Delete Goal", goal_path, method: :delete %>
    </div>
  </div>
  <div class="title-container">
    <h1 class="show-title"><%= @goal.title %></h1>
  </div>

  <div class="steps-container">
    <% @goal.steps.each do |step| %>
      <div class="step-marker"></div>
      <p class="steps">
        <%= step.title %>
      </p>
      <div>
        <%= link_to "Delete Step", [step.goal, step], method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>
  </div>

  <div class="steps-formbox">
    <div class="steps-form">
      <%= form_with model: [ @goal, @goal.steps.build ] do |form| %>
        <p>
          <%= form.text_field :title %>
        </p>
        <p>
          <%= form.submit %>
        </p>
      <% end %>
    </div>
  </div>

</div>
